/*
   File: timelog.css
   Author: S. Sigman          Date: 10/28/2020

   This file is the main style file for the time log
   application.

   Modifications:
   10/28/2020 S. Sigman - Started design of responsive mobile
                          app in Sprint 2
*/
